.strand1 {
    background-color: var(--back-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.4s, color 0.4s;
}

.strand1 h1,
.strand1 h2 {
    color: var(--title-color);
    border-bottom: 3px solid var(--color);
    padding-bottom: 5px;
    transition: color 0.4s, border-bottom 0.4s;
}
p {
    margin: 5px 5px;
}

.colored {
    background-color: rgba(240, 240, 240, 0.8);
    padding: 15px;
    border-radius: 10px;
    border-left: 5px solid var(--color);
    transition: background-color 0.4s, border-left 0.4s;
}

[data-theme="dark"] .colored {
    background-color: rgba(30, 30, 30, 0.8);
}

ul {
    padding-left: 20px;
    list-style: square;
}

ul li {
    margin: 6px 0;
    transition: transform 0.3s ease-in-out, color 0.3s;
}

.strand1 li:hover {
    transform: translateX(5px);
    color: var(--color);
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    transition: background-color 0.4s;
}

table th,
table td {
    border: 1px solid var(--text-color);
    padding: 10px;
    text-align: left;
    transition: background-color 0.4s, transform 0.2s ease-in-out;
}

table th {
    background-color: var(--element-hover);
    color: var(--title-color);
}

table td:hover {
    transform: scale(1.03);
    background-color: var(--color);
    color: white;
    border-radius: 10px;
}

[data-theme="dark"] table th {
    background-color: var(--back-hover);
}
