.data-analysis-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--background);
    color: var(--text);
    text-align: center;
    padding: 2rem;
    height: 1000px;
    padding-top: 150px;
}

.data-analysis-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.data-analysis-container p {
    font-size: 1.25rem;
    color: var(--text-secondary);
}

.container-video {
    gap: 80px;
    display: flex;
    padding-top: 50px;
}
