.excel-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: var(--background);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 80px);
    padding-top: 120px;
}

.excel-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.excel-content p {
    font-size: 16px;
    color: var(--text);
    line-height: 1.5;
    margin-bottom: 15px 0px;
}

.excel-container img {
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
    transition: all 300ms ease;
}

.excel-container img:hover {
    transform: scale(1.03);
}
