.header {
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
    z-index: 2;
}

.logo img {
    width: 130px;
    position: absolute;
    cursor: pointer;
}

.navbar {
    position: fixed;
    right: 200px;
    top: 20px;
}

.navbar > ul {
    display: flex;
    flex-direction: row;
    gap: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    list-style: none;
    cursor: pointer;
    position: relative;
    transition: all 200ms ease;
    font-weight: 600;
    font-size: 13px;
    color: var(--text-color);
}
.navbar li:hover {
    color: var(--link);
}

img.arrow {
    width: 10px;
    margin-left: 5px;
    transition: transform 150ms ease;
}

.navbar img {
    width: 20px;
}

img.arrow {
    width: 13px;
}

.dark-btn {
    background-color: var(--back-color);
    position: relative;
    top: -5px;
    right: -160px;
}

button.dark-btn {
    outline: 0;
    border: 1px solid transparent;
    padding: 4px 6px 0px 6px;
    border-radius: 10px;
    cursor: pointer;
}

button.dark-btn:hover {
    border: 1px solid rgb(97, 96, 96);
}

/* Поворот стрелки */
.dropdown:hover .arrow {
    transform: rotate(180deg);
}

/* Скрытый выпадающий список */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--back-color);
    list-style: none;
    margin: 0;

    z-index: 100000000000;
}

.dropdown-menu.show {
    display: block;
}

/* Стили для пунктов dropdown */

.dropdown-menu li {
    padding: 10px 0;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 250ms ease;
    z-index: 1000000;
    padding: 10px;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 6px;
    margin: 5px;
}

/* Hover эффект для пунктов */
.dropdown-menu li:hover {
    background-color: var(--element-hover);
}

/* The switch - the box around the slider */
.switch {
    display: block;
    --width-of-switch: 2.8em;
    --height-of-switch: 1.6em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: 0.4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #303136;
}

input:checked + .slider:before {
    left: calc(
        100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em))
    );
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
