.header {
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
    z-index: 2;
}

.logo img {
    width: 130px;
    position: absolute;
    cursor: pointer;
}

.navbar {
    position: fixed;
    right: 200px;
    top: 20px;
}



.navbar > ul {
    display: flex;
    flex-direction: row;
    gap: 45px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    list-style: none;
    cursor: pointer;
    position: relative;
    transition: all 200ms ease;
    font-weight: 600;
    font-size: 18px;
    color: var(--link);
}
.navbar li:hover {
    color: var(--link-hover);
}

img.arrow {
    width: 10px;
    margin-left: 5px;
    transition: transform 150ms ease;
}

.navbar img {
    width: 30px;
}

img.arrow {
    width: 13px;
}

.dark-btn {
    background-color: var(--back-color);
    position: relative;
    top: -5px;
    right: -160px;
}

button.dark-btn {
    outline: 0;
    border: 1px solid transparent;
    padding: 4px 6px 2px 6px;
    border-radius: 15px;
    cursor: pointer;
}

button.dark-btn:hover {
    border: 1px solid grey;
}

/* Поворот стрелки */
.dropdown:hover .arrow {
    transform: rotate(180deg);
}

/* Скрытый выпадающий список */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--back-color);
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 100000000000;
}

.dropdown-menu.show {
    display: block;
}

/* Стили для пунктов dropdown */
.dropdown-menu li {
    padding: 10px 0;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 250ms ease;
    z-index: 1000000;
}

/* Hover эффект для пунктов */
.dropdown-menu li:hover {
    background-color: var(--element-hover);
}

/* Показ меню при наведении */
