.intro {
    min-height: 600px;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
}

.intro-text {
}

.intro-text h1 {
    font-size: 40px;

    color: greenyellow;
    margin-bottom: 20px;
    z-index: 1;
}

.intro-picture img {
    cursor: pointer;
}

button.tutorial-btn {
    cursor: pointer;
    margin-top: 10px;
    display: block;
}
